
<center><u class="text-light"><h1 class="text-uppercase text-light" style="">@ViewBag.Marca.Nombre</h1></u></center>


<div class="row">
      @foreach (ropa item in ViewBag.ListadoRopa)
      {
                  <div class="card mr-5" style="width: 15%; height:50%; margin-top: 10%; background-color:#d3c1aa;">
                    <img src="@item.Foto" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h1 class="card-title"><u>@item.Nombre</u></h1>
                      <h2 id="DescripcionOculta_@item.IdRopa" style="display:none;">@item.descripcion</h2>
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalRopa" onclick="VerDetalleRopa(@item.IdRopa)">
                        ver descripcion
                      </button>
                      <button type="button" class="btn btn-danger" onclick="AgregarMeGusta(@item.IdRopa)">
                        Me gusta
                      </button>
                      <p id="CantidadLikes_@item.IdRopa">❤ @item.cantLikes</p>
                      <p> $ @item.precio </p>
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalRopa" onclick="EliminarRopa(@item.IdRopa)">
                        Eliminar
                      </button>
                    </div>
                  </div>
            
        
      }
</div>

                                                  <!-- MODAL -->
  <div class="modal fade" id="ModalRopa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" id="descripcionRopa">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display:none;" id="BotonEliminar">Eliminar la prenda</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>






<!--<form>
  <input type="hidden" name="IdRopa">|
  <h5>Agregue una foto de la indumentaria:</h5>
  <input type="file" name="Foto">
  <h5>Agregue un nombre de la indumentaria:</h5>
  <input type="text" name="Nombre">
  <h5>Agregue una descripcion de la indumentaria:</h5>
  <input type="text" name="descripcion">
  <h5>Agregue un precio de la indumentaria:</h5>
  <input type="text" name="precio">

</form>

<input type="hidden" name="#" value="1">
<input type="submit" value="Aceptar"-->


